PtasieRadio/obj/Debug/net8.0-android/build.props
PtasieRadio/obj/Debug/net8.0-android/environment.hotreload.conf
PtasieRadio/obj/Debug/net8.0-android/PtasieRadio.dtrue-bfalse.GeneratedMSBuildEditorConfig.editorconfig
PtasieRadio/obj/Debug/net8.0-android/designtime/libraryprojectimports.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfo.cs
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfoInputs.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfo.cs
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfoInputs.cache
PtasieRadio/obj/Debug/net8.0-android/designtime/libraryprojectimports.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfo.cs
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfoInputs.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfo.cs
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfoInputs.cache
