PtasieRadio/bin/Debug/net8.0-desktop/PtasieRadio.dll
PtasieRadio/bin/Debug/net8.0-desktop/PtasieRadio.dll
PtasieRadio/bin/Debug/net8.0-desktop/PtasieRadio.pdb
PtasieRadio/obj/Debug/net8.0-desktop/PtasieRadio.dll
PtasieRadio/obj/Debug/net8.0-desktop/PtasieRadio.pdb
PtasieRadio/obj/Debug/net8.0-desktop/PtasieRadio.sourcelink.json