*.dll
*.Tests
.cache
obj/
bin/
PtasieRadio/obj/Debug/net8.0-android/build.props
PtasieRadio/obj/Debug/net8.0-android/environment.hotreload.conf
PtasieRadio/obj/Debug/net8.0-android/PtasieRadio.dtrue-bfalse.GeneratedMSBuildEditorConfig.editorconfig
PtasieRadio/obj/Debug/net8.0-android/designtime/libraryprojectimports.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfo.cs
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfoInputs.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfo.cs
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfoInputs.cache
PtasieRadio/obj/Debug/net8.0-android/designtime/libraryprojectimports.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfo.cs
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfoInputs.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfo.cs
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfoInputs.cache
PtasieRadio/bin/Debug/net8.0-desktop/PtasieRadio.dll
PtasieRadio/bin/Debug/net8.0-desktop/PtasieRadio.dll
PtasieRadio/bin/Debug/net8.0-desktop/PtasieRadio.pdb
PtasieRadio/obj/Debug/net8.0-desktop/PtasieRadio.dll
PtasieRadio/obj/Debug/net8.0-desktop/PtasieRadio.pdb
PtasieRadio/obj/Debug/net8.0-desktop/PtasieRadio.sourcelink.json
PtasieRadio.UITests/bin/Debug/net8.0/nunit_random_seed.tmp
PtasieRadio.UITests/bin/Debug/net8.0/nunit_random_seed.tmp
PtasieRadio.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_PtasieRadio.Tests
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfo.cs
PtasieRadio/obj/Debug/net8.0/PtasieRadio.assets.cache
PtasieRadio/obj/Debug/net8.0/PtasieRadio.csproj.CoreCompileInputs.cache
PtasieRadio/obj/Debug/net8.0/PtasieRadio.d-bfalse.GeneratedMSBuildEditorConfig.editorconfig
PtasieRadio/obj/Debug/net8.0/PtasieRadio.sourcelink.json
PtasieRadio.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_PtasieRadio.Tests
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfo.cs
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfoInputs.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.assets.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.dtrue-bfalse.GeneratedMSBuildEditorConfig.editorconfig
PtasieRadio.UITests/bin/Debug/net8.0/nunit_random_seed.tmp
PtasieRadio.UITests/bin/Debug/net8.0/PtasieRadio.UITests.dll
PtasieRadio.UITests/bin/Debug/net8.0/PtasieRadio.UITests.pdb
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfo.cs
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfoInputs.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.assets.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.csproj.CoreCompileInputs.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.csproj.FileListAbsolute.txt
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.dll
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.GeneratedMSBuildEditorConfig.editorconfig
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.genruntimeconfig.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.pdb
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.sourcelink.json
PtasieRadio.UITests/obj/Debug/net8.0/ref/PtasieRadio.UITests.dll
PtasieRadio.UITests/obj/Debug/net8.0/refint/PtasieRadio.UITests.dll
PtasieRadio/obj/Debug/net8.0/PtasieRadio.assets.cache
PtasieRadio/obj/Debug/net8.0/PtasieRadio.csproj.CoreCompileInputs.cache
PtasieRadio/obj/Debug/net8.0/PtasieRadio.csproj.FileListAbsolute.txt
PtasieRadio/obj/Debug/net8.0/PtasieRadio.d-bfalse.GeneratedMSBuildEditorConfig.editorconfig
PtasieRadio/obj/Debug/net8.0/PtasieRadio.dll
PtasieRadio/obj/Debug/net8.0/PtasieRadio.pdb
PtasieRadio/obj/Debug/net8.0/PtasieRadio.sourcelink.json
PtasieRadio/obj/Debug/net8.0/ref/PtasieRadio.dll
PtasieRadio/obj/Debug/net8.0/refint/PtasieRadio.dll
PtasieRadio.Tests/bin/Debug/net8.0/CommonServiceLocator.dll
PtasieRadio.Tests/bin/Debug/net8.0/CommunityToolkit.Mvvm.dll
PtasieRadio.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_PtasieRadio.Tests
PtasieRadio.Tests/bin/Debug/net8.0/FluentAssertions.dll
PtasieRadio.Tests/bin/Debug/net8.0/GitHubActionsTestLogger.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Hosting.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Http.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Localization.Abstractions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Logging.Debug.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventLog.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventSource.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
PtasieRadio.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
PtasieRadio.Tests/bin/Debug/net8.0/NAudio.Asio.dll
PtasieRadio.Tests/bin/Debug/net8.0/NAudio.Core.dll
PtasieRadio.Tests/bin/Debug/net8.0/NAudio.dll
PtasieRadio.Tests/bin/Debug/net8.0/NAudio.Midi.dll
PtasieRadio.Tests/bin/Debug/net8.0/NAudio.Wasapi.dll
PtasieRadio.Tests/bin/Debug/net8.0/NAudio.WinMM.dll
PtasieRadio.Tests/bin/Debug/net8.0/Newtonsoft.Json.dll
PtasieRadio.Tests/bin/Debug/net8.0/nunit_random_seed.tmp
PtasieRadio.Tests/bin/Debug/net8.0/nunit.engine.api.dll
PtasieRadio.Tests/bin/Debug/net8.0/nunit.engine.core.dll
PtasieRadio.Tests/bin/Debug/net8.0/nunit.engine.dll
PtasieRadio.Tests/bin/Debug/net8.0/nunit.framework.dll
PtasieRadio.Tests/bin/Debug/net8.0/nunit.framework.legacy.dll
PtasieRadio.Tests/bin/Debug/net8.0/NUnit3.TestAdapter.dll
PtasieRadio.Tests/bin/Debug/net8.0/NUnit3.TestAdapter.pdb
PtasieRadio.Tests/bin/Debug/net8.0/PtasieRadio.dll
PtasieRadio.Tests/bin/Debug/net8.0/PtasieRadio.pdb
PtasieRadio.Tests/bin/Debug/net8.0/PtasieRadio.Tests.deps.json
PtasieRadio.Tests/bin/Debug/net8.0/PtasieRadio.Tests.dll
PtasieRadio.Tests/bin/Debug/net8.0/PtasieRadio.Tests.pdb
PtasieRadio.Tests/bin/Debug/net8.0/PtasieRadio.Tests.runtimeconfig.json
PtasieRadio.Tests/bin/Debug/net8.0/Refit.dll
PtasieRadio.Tests/bin/Debug/net8.0/Refit.HttpClientFactory.dll
PtasieRadio.Tests/bin/Debug/net8.0/SkiaSharp.dll
PtasieRadio.Tests/bin/Debug/net8.0/SkiaSharp.SceneGraph.dll
PtasieRadio.Tests/bin/Debug/net8.0/SkiaSharp.Skottie.dll
PtasieRadio.Tests/bin/Debug/net8.0/SkiaSharp.Views.Windows.dll
PtasieRadio.Tests/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
PtasieRadio.Tests/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
PtasieRadio.Tests/bin/Debug/net8.0/System.Json.dll
PtasieRadio.Tests/bin/Debug/net8.0/System.Linq.Async.dll
PtasieRadio.Tests/bin/Debug/net8.0/System.Runtime.InteropServices.WindowsRuntime.dll
PtasieRadio.Tests/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
PtasieRadio.Tests/bin/Debug/net8.0/testcentric.engine.metadata.dll
PtasieRadio.Tests/bin/Debug/net8.0/testhost.dll
PtasieRadio.Tests/bin/Debug/net8.0/testhost.exe
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Core.Extensions.Collections.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Core.Extensions.Disposables.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Core.Extensions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Core.Extensions.Equality.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Core.Extensions.Logging.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Core.Extensions.Logging.Singleton.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Diagnostics.Eventing.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Configuration.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Core.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Core.UI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Hosting.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Hosting.WinUI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Http.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Http.Refit.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Http.WinUI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Localization.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Localization.WinUI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Logging.WebAssembly.Console.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Logging.WinUI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Navigation.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Navigation.Toolkit.UI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Navigation.UI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Reactive.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Reactive.Messaging.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Reactive.UI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Serialization.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Serialization.Http.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Serialization.Refit.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Storage.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Extensions.Storage.UI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.Fluent.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.Roboto.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Foundation.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Foundation.Logging.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Material.WinUI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Themes.WinUI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Toolkit.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Toolkit.WinUI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Toolkit.WinUI.Material.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.Adapter.Microsoft.Extensions.Logging.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.Composition.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.Dispatching.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.FluentTheme.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.FluentTheme.v1.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.FluentTheme.v2.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.HotDesign.Abstractions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.HotDesign.Client.Core.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.HotDesign.Client.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.HotDesign.CommunityToolkit.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.HotDesign.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.HotDesign.Hierarchy.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.HotDesign.Messaging.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.HotDesign.PropertyGrid.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.HotDesign.Toolbox.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.HotDesign.Xaml.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.HotDesign.Xaml.Interactions.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.HotDesign.Xaml.Interactivity.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.Lottie.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.RemoteControl.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.RemoteControl.Messaging.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.UI.Toolkit.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Wasm.WebSockets.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Xaml.dll
PtasieRadio.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/PtasieRadio.Tests/testhost.dll
PtasieRadio.Tests/bin/Debug/net8.0/PtasieRadio.Tests/testhost.exe
PtasieRadio.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/runtimes/osx/native/libSkiaSharp.dylib
PtasieRadio.Tests/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
PtasieRadio.Tests/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
PtasieRadio.Tests/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
PtasieRadio.Tests/bin/Debug/net8.0/runtimes/win-arm64/native/libSkiaSharp.dll
PtasieRadio.Tests/bin/Debug/net8.0/runtimes/win-x64/native/libSkiaSharp.dll
PtasieRadio.Tests/bin/Debug/net8.0/runtimes/win-x86/native/libSkiaSharp.dll
PtasieRadio.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.Fluent/Fonts/uno-fluentui-assets.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-Bold.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-BoldItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-ExtraBold.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-ExtraBoldItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-Italic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-Light.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-LightItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-Medium.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-MediumItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-Regular.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-SemiBold.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_Condensed-SemiBoldItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-Bold.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-BoldItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-ExtraBold.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-ExtraBoldItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-Italic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-Light.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-LightItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-Medium.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-MediumItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-Regular.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-SemiBold.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans_SemiCondensed-SemiBoldItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans-Bold.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans-BoldItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans-ExtraBold.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans-ExtraBoldItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans-Italic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans-Light.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans-LightItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans-Medium.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans-MediumItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans-Regular.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans-SemiBold.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans-SemiBoldItalic.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.OpenSans/Fonts/OpenSans.ttf.manifest
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.Roboto/Fonts/Roboto-Light.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.Roboto/Fonts/Roboto-Medium.ttf
PtasieRadio.Tests/bin/Debug/net8.0/Uno.Fonts.Roboto/Fonts/Roboto-Regular.ttf
PtasieRadio.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
PtasieRadio.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRa.D7F00001.Up2Date
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfo.cs
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfoInputs.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.assets.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.csproj.AssemblyReference.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.csproj.CoreCompileInputs.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.csproj.FileListAbsolute.txt
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.d-bfalse.GeneratedMSBuildEditorConfig.editorconfig
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.dll
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.genruntimeconfig.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.pdb
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.sourcelink.json
PtasieRadio.Tests/obj/Debug/net8.0/ref/PtasieRadio.Tests.dll
PtasieRadio.Tests/obj/Debug/net8.0/refint/PtasieRadio.Tests.dll
PtasieRadio.UITests/bin/Debug/net8.0/nunit_random_seed.tmp
PtasieRadio.UITests/bin/Debug/net8.0/PtasieRadio.UITests.dll
PtasieRadio.UITests/bin/Debug/net8.0/PtasieRadio.UITests.pdb
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfo.cs
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfoInputs.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.assets.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.csproj.CoreCompileInputs.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.csproj.FileListAbsolute.txt
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.dll
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.GeneratedMSBuildEditorConfig.editorconfig
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.genruntimeconfig.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.pdb
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.sourcelink.json
PtasieRadio.UITests/obj/Debug/net8.0/ref/PtasieRadio.UITests.dll
PtasieRadio.UITests/obj/Debug/net8.0/refint/PtasieRadio.UITests.dll
PtasieRadio/bin/Debug/net8.0/PtasieRadio.dll
PtasieRadio/bin/Debug/net8.0/PtasieRadio.pdb
PtasieRadio/obj/Debug/net8.0/PtasieRadio.assets.cache
PtasieRadio/obj/Debug/net8.0/PtasieRadio.csproj.CoreCompileInputs.cache
PtasieRadio/obj/Debug/net8.0/PtasieRadio.csproj.FileListAbsolute.txt
PtasieRadio/obj/Debug/net8.0/PtasieRadio.d-bfalse.GeneratedMSBuildEditorConfig.editorconfig
PtasieRadio/obj/Debug/net8.0/PtasieRadio.dll
PtasieRadio/obj/Debug/net8.0/PtasieRadio.pdb
PtasieRadio/obj/Debug/net8.0/PtasieRadio.sourcelink.json
PtasieRadio/obj/Debug/net8.0/ref/PtasieRadio.dll
PtasieRadio/obj/Debug/net8.0/refint/PtasieRadio.dll
PtasieRadio.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_PtasieRadio.Tests
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfo.cs
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.AssemblyInfoInputs.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.assets.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.csproj.AssemblyReference.cache
PtasieRadio.Tests/obj/Debug/net8.0/PtasieRadio.Tests.csproj.FileListAbsolute.txt
PtasieRadio.UITests/bin/Debug/net8.0/nunit_random_seed.tmp
PtasieRadio.UITests/bin/Debug/net8.0/PtasieRadio.UITests.dll
PtasieRadio.UITests/bin/Debug/net8.0/PtasieRadio.UITests.pdb
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfo.cs
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.AssemblyInfoInputs.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.assets.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.csproj.CoreCompileInputs.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.csproj.FileListAbsolute.txt
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.dll
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.GeneratedMSBuildEditorConfig.editorconfig
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.genruntimeconfig.cache
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.pdb
PtasieRadio.UITests/obj/Debug/net8.0/PtasieRadio.UITests.sourcelink.json
PtasieRadio.UITests/obj/Debug/net8.0/ref/PtasieRadio.UITests.dll
PtasieRadio.UITests/obj/Debug/net8.0/refint/PtasieRadio.UITests.dll
